.content {
  height: 100%;
  background-color: var(--color-bg-main-drawer);
  border-right: 1px solid var(--color-border-drawer-right);
  box-shadow: 0px 1px 1px 1px #e9ebed, 0px 6px 36px rgba(0, 7, 22, 0.1);
}

.nav {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.separator {
  border: none;
  border-top: 1px solid var(--color-border-divider);
  height: 0;
  margin: 2.4rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.4rem;
  border-bottom: 2px solid var(--color-border-divider);

  @media only screen and (max-width: 500px) {
    padding: 1.6rem 3.2rem;
  }
  &__close {
    display: flex;
    border: none;
    background-color: unset;
  }
  &__icon {
    cursor: pointer;
    color: var(--font-color-secondary);
    &:hover {
      color: var(--font-color);
    }
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: var(--font-color-link);
  }
}

.list {
  padding: 0 2.8rem;
}

.item {
  margin: 8px 0;
  list-style: none;
}

.expandable {
  margin: 1.8rem 0;
  margin-left: -2.4rem;
  line-height: 2.2rem;

  &[data-state='open'] {
    & .expandable__trigger__icon {
      transform: rotate(90deg);
    }
    & .expandable__content {
      animation: fadeIn 0.1s ease-out;
    }
  }
  &__trigger {
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      color: var(--font-color-link);
    }
    &__icon {
      color: currentColor;
      margin-right: 4px;
      transition: transform 0.115s ease-out;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__list {
    padding-left: 2.4rem;
  }
}

.nav-link {
  &,
  &:link,
  &:visited {
    line-height: 2.2rem;
    margin: 0.8rem 0;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.1s;
    white-space: nowrap;

    &:hover {
      color: var(--font-color-link);
    }
  }
  &--active {
    color: var(--font-color-link) !important;
    font-weight: 700 !important;
  }
}

.separator {
  border: none;
  border-top: 1px solid var(--color-border-divider);
  height: 0;
  margin: 2.4rem 0;
}
