.root {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border-divider);
  &.warning {
    background-color: var(--color-red-10);
  }
  &.error {
    background-color: var(--color-red-10);
  }
}

.status {
  margin-top: 4px;
}

.content {
}

.text {
}

.link {
  &,
  &:visited,
  &:link {
    display: flex;
    align-items: center;
    color: var(--color-gsa-blue-40);
    text-decoration: none;
  }
}

.icon {
  margin-left: 4px;
}
