.root {
  display: flex;
  flex-direction: column;
  max-width: 648px;
}

.extended {
  width: 100%;
}

.container {
  height: 3.2rem;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-border-input, #7d8998);
  border-radius: 8px;
  padding: 0 1.6rem;
  background-color: var(--color-bg-input);
  transition: border-color 0.1s;
  &:focus-within {
    border-color: var(--color-border-item-focused, #539fe5);
    & .input-box__icon {
      color: var(--color-gsa-blue-30);
    }
  }
  &--error {
    border-color: var(--color-red-40);
    & .input-box__icon {
      color: var(--color-red-40);
    }
    &:focus-within {
      outline-color: var(--color-red-40);
      & .input-box__icon {
        color: var(--color-red-40);
      }
    }
  }

  &__icon {
    color: #5f6b7a;
    margin-right: 1rem;
    transition: color 0.1s;
  }
}

.input {
  background-color: inherit;
  flex: 1;
  border: none;
  outline: none;
  height: 100%;

  &::placeholder, // For most modern browsers
  &::-webkit-input-placeholder, // For Safari and Chrome
  &::-moz-placeholder, // For Firefox 19+
  &:-moz-placeholder, // For Firefox 18-
  &:-ms-input-placeholder {
    font-weight: 400;
    font-style: italic;
    color: var(--font-color-input-placeholder, #5f6b7a);
  }

  // For Firefox which sets a default opacity to placeholders
  &::-moz-placeholder,
  &:-moz-placeholder {
    opacity: 1;
  }
}

.invalid {
  border-color: var(--color-red-40);
  border-left-width: 8px;
  & .input-box__icon {
    color: var(--color-red-40);
  }
  &:focus-within {
    outline-color: var(--color-red-40);
    & .input-box__icon {
      color: var(--color-red-40);
    }
  }
}
