.root {
  flex: 1;
  min-height: 0;
  position: relative;
}

.container {
  min-height: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(3, auto) 134px 1fr;
  grid-template-columns:
    min-content minmax(40px, 1fr)
    minmax(280px, 1350px)
    minmax(40px, 1fr) min-content;
}

.background {
  // position: sticky;
  // top: 4rem;
  background-color: #000716;
  grid-column: 1 / span 5;
  grid-row: 1 / span 4;
}

.navigation {
  grid-column: 1;
  grid-row: 1 / span 5;
  position: sticky;
  top: 0;
  z-index: 830;
}

.content {
  grid-column: 3;
  grid-row: 4 / span 2;
  display: flex;
  flex-direction: column;
}

.notifications {
  grid-column: 3;
  grid-row: 1;
  margin: 0.8rem 0;
  padding: 0 1rem;
}

.breadcrumbs {
  grid-column: 3;
  grid-row: 2;
  z-index: 799;
  padding: 4px 1rem;
  &.has-notifications {
    padding-top: 1.2rem;
  }
}

.tools {
  position: sticky;
  top: 0;
  z-index: 830;
  grid-column: 5;
  grid-row: 1 / span 5;
}
