.root {
}

.flash {
  display: flex;
  padding: 1rem 1.6rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.icon {
  display: flex;
  margin-right: 1rem;
  padding: 6px 0;
}

.container {
  flex: 1;
  padding: 5px 0;
}

.header {
  font-weight: 700;
}

.action {
  margin-left: auto;
}

.close {
  margin-left: 1rem;
  cursor: pointer;
}

//Types
.info {
  background-color: var(--color-bg-flashbar-info);
}
.warning {
  background-color: var(--color-bg-flashbar-warning);
}
.success {
  background-color: var(--color-bg-flashbar-success);
}
.error {
  background-color: var(--color-bg-flashbar-error);
}
