.root {
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  background-color: var(--color-bg-button-primary);
  color: var(--font-color-button-primary);
  font-weight: 800;
  border: 2px solid transparent;
  border-radius: 999px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      filter: unset;
    }
  }

  &__text {
    margin: 0 1rem;
    line-height: 1;
  }
}

.extended {
  width: 100%;
}

//SIZES
.small {
  padding: 0.8rem 1.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
}

//COLORS
.secondary {
  border-color: var(--color-border-button-secondary);
  background-color: var(--color-bg-button-secondary);
  color: var(--font-color-button-secondary);
}

.red {
  background-color: #eb5757;
}

//VARIANT
.link {
  background-color: unset;
  color: var(--font-color-link);
  border-color: transparent;
}
