.root {
  &--horizontal {
    display: flex;
  }
}

.child {
  &-vertical {
    &-l {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
    &-sm {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-xs {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  &-horizontal {
    &-l {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
    &-sm {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    &-xs {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}
