.root {
  display: flex;
}

//DIRECTION
.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
}

//SIZE
.xxs {
  gap: var(--space-xxs);
}
.xs {
  gap: var(--space-xs);
}
.sm {
  gap: var(--space-sm);
}
.l {
  gap: var(--space-l);
}
.xl {
  gap: var(--space-xl);
}
