.root {
  &--horizontal {
    display: flex;
  }
}

.child {
  &-vertical {
    &-l {
      &:not(:last-child) {
        margin-bottom: var(--space-l);
      }
    }
    &-sm {
      &:not(:last-child) {
        margin-bottom: var(--space-sm);
      }
    }

    &-xs {
      &:not(:last-child) {
        margin-bottom: var(--space-xs);
      }
    }
  }
  &-horizontal {
    &-l {
      &:not(:last-child) {
        margin-right: var(--space-l);
      }
    }
    &-sm {
      &:not(:last-child) {
        margin-right: var(--space-sm);
      }
    }
    &-xs {
      &:not(:last-child) {
        margin-right: var(--space-xs);
      }
    }
  }
}
