.root {
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  border: 2px solid var(--color-border-input, #7d8998);
  border-radius: 8px;
  padding: 4px 1.6rem;
  background-color: var(--color-bg-input);
  &:focus {
    border: 2px solid var(--color-border-item-focused, #539fe5);
  }

  &::placeholder, // For most modern browsers
  &::-webkit-input-placeholder, // For Safari and Chrome
  &::-moz-placeholder, // For Firefox 19+
  &:-moz-placeholder, // For Firefox 18-
  &:-ms-input-placeholder {
    font-weight: 400;
    font-style: italic;
    color: var(--font-color-input-placeholder, #5f6b7a);
  }

  // For Firefox which sets a default opacity to placeholders
  &::-moz-placeholder,
  &:-moz-placeholder {
    opacity: 1;
  }
}

.invalid {
  border-color: var(--color-red-40);
  border-left-width: 8px;
  &:focus {
    outline-color: var(--color-red-40) !important;
  }
}
