.root {
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  border: 2px solid var(--color-border-input);
  border-radius: 8px;
  padding: 4px 1.6rem;
  background-color: var(--color-bg-input);
  &:focus,
  &:focus-visible {
    border-color: black !important;
  }
}

.invalid {
  border-color: var(--color-red-40);
  border-left-width: 8px;
  &:focus {
    outline-color: var(--color-red-40) !important;
  }
}
