.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  p {
    margin: 0.5em 0;
  }
}

.title {
  font-size: 2rem;
}

.actions {
  margin-top: 1rem;
}
