.root {
  position: relative;
  &__placeholder {
    font-weight: 400;
    color: var(--font-color);
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-border-input);
  box-shadow: none;
  border-radius: 8px;
  height: 3.4rem;
  font-size: 1.4rem;
  padding: 0 1.2rem;
  background-color: var(--color-bg-input);
  transition: border-color 0.1s;
  &[data-state='closed'] {
    & .icon {
      transform: rotate(90deg);
    }
  }
  &[data-state='open'] {
    & .icon {
      transform: rotate(-90deg);
    }
  }
  &:hover {
    & .toggle__icon {
      color: black;
    }
  }
  &:focus,
  &:focus-within {
    border-color: black;
  }
  &.error {
    border-color: var(--color-red-40);
    & .toggle__icon {
      color: var(--color-red-40);
    }
  }
  &.invalid {
    border-color: var(--color-red-40);
    border-left-width: 8px;
    & .toggle__icon {
      color: var(--color-red-40);
    }
  }
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.icon {
  transition: transform 0.115s;
}

.single {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem;
  white-space: nowrap;
}

.menu {
  background-color: var(--color-bg-dropdown);
  position: absolute;
  width: 100%;
  margin-top: 4px;
  border-radius: 8px;
  padding: 1px;

  border: 2px solid var(--color-black-20);
  z-index: 3;
  max-height: 40rem;
  overflow-y: auto;

  &--close {
    display: none;
    box-shadow: none;
  }
}
