.root {
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.4rem;
  list-style-type: none;
}

.has-header {
  margin-top: 2rem;
}

.loading {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem 2rem;
}
