.root {
  display: inline-flex;
  align-items: center;
}

.icon {
  font-weight: 800;
}

.text {
  margin-left: 4px;
}

//Types
.info {
  color: var(--font-color-status-info);
}
.warning {
  color: var(--font-color-status-warning);
}
.success {
  color: var(--font-color-status-success);
}
.error {
  color: var(--font-color-status-error);
}
.pending {
  color: var(--font-color-status-inactive);
}
.in-progress {
  color: var(--font-color-status-inactive);
}
