.root {
  // flex: 1;
  // position: relative;
  // min-height: 0;
  // display: flex;
  // flex-direction: column;
  // overflow-y: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 36px 1fr;
  min-height: 100%;
  // padding: 0 1rem;
  &.is-overlap-disabled {
    grid-template-rows: auto 0 1fr;
  }
}

.background {
  background-color: var(--color-bg-layout-main, #000716);
  grid-column: 1;
  grid-row: 1/3;
  &.is-overlap-disabled {
    grid-row: 1/2;
  }
  &.is-background-disabled {
    background-color: unset;
  }
}

.header {
  grid-column: 1;
  grid-row: 1;
  padding-top: 4px;
  padding-bottom: 2.4rem;
  &.is-background-enabled {
    --font-color-heading-title: white;
    --font-color-heading-secondary: #8d99a8;
    --font-color-label: #d1d5db;
    --font-color-button-secondary: #539fe5;
    --font-color-button-primary: #000716;
    --font-color-link: #539fe5;
    --font-color-link-hover: #89bdee;

    --color-border-button-secondary: #539fe5;
    --color-border-divider: #414d5c;

    --color-bg-button-primary: #539fe5;
    --color-bg-button-secondary: transparent;
    --color-bg-input: var(--color-bg-layout-main, #000716);

    --color-text-interactive-active: #fbfbfb;
    --color-text-interactive-default: #d1d5db;
    --color-text-interactive-disabled: #5f6b7a;
    --color-text-interactive-hover: #fbfbfb;
  }
}

.content {
  grid-column: 1;
  grid-row: 2/4;
}
