.root {
  height: 100%;
}

.trigger {
  height: 4rem;
  width: 4rem;
  padding: 1.6rem 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fedramp-deep-blue-50);
  color: white;
  cursor: pointer;
  border-radius: 999px;
  box-shadow: 0px 6px 12px 1px rgba(0, 7, 22, 0.12);
  @keyframes showButton {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &[data-state='open'] {
    display: none;
  }
  &[data-state='closed'] {
    animation: showButton 0.2s;
  }
  &:hover {
    filter: brightness(85%);
  }
}

.animated {
  height: 100%;
  &[data-state='open'] {
    transition: width 0.115s;
    width: 28rem;
    & .trigger {
      display: none;
    }
    & .children {
      opacity: 1;
    }
  }
  &[data-state='closed'] {
    width: 8rem;
    padding: 1.2rem 2rem;

    & .children {
      opacity: 0;
      display: none;
    }
  }
}

.children {
  height: 100%;
}
