.root {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 6px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

//Variants
.default {
}
.large {
  font-size: 4.2rem;
  font-weight: 700;
}
