.root {
  all: unset;
  background-color: var(--color-bg-input);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-border-input);
  border-radius: 3px;
  cursor: pointer;
  &[data-state='checked'] {
    border-color: var(--color-bg-input-selected);
  }
  &:hover {
    filter: brightness(95%);
  }
  &:focus {
    border: 2px solid var(--color-black-40);
  }
  &__indicator {
    font-size: 1.2rem !important;
    background-color: var(--color-bg-input-selected);
    color: white;
    font-weight: 900;
  }
}

.radio {
  background-color: white;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: var(--border);

  &[data-state='checked'] {
    border-color: var(--color-bg-input-selected);
  }

  &:hover {
    background-color: var(--color-gsa-blue-10);
  }
  &:focus {
  }
  &__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: var(--color-gsa-blue-40);
    }
  }
}

@keyframes fadeIn {
  from {
    border: 2px solid var(--color-border-input);
    background-color: white;
  }
  to {
    border: 2px solid var(--color-bg-input-selected);
    background-color: var(--color-bg-input-selected);
  }
}
