.root {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  margin-right: 3.2rem;
}

.title {
}

.text {
  display: inline;
  font-weight: 800;
  letter-spacing: -0.015em;
  color: var(--font-color-heading-title);
  margin-right: 8px;
}

.count {
  font-weight: 400;
  color: #8d99a8;
}

.description {
  font-size: 1.4;
  color: var(--font-color-heading-secondary);
}

.description-h1 {
  margin-top: 8px;
}
.description-h2 {
  margin-top: 2px;
}

.description-h3 {
  margin-top: 2px;
  font-size: 1.2rem;
}

.info {
  display: inline;
  padding-right: 1rem;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1.6rem;
}

.header-detail {
  display: flex;
  align-items: center;
  &__label {
    margin-right: 6px;
  }
}

//VARIANTS
.h1 {
  font-size: 3.2rem;
  line-height: 4rem;
}
.h2 {
  font-size: 2.4rem;
  line-height: 3rem;
}
.h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}
