.root {
  height: 2.8rem;
  padding: 1rem 3.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-bg-footer);
  color: white;
  font-size: 1.2rem;
  z-index: 2;
}
