.root {
  &,
  &:link,
  &:visited,
  &:active {
    color: var(--font-color-link);
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

//sizes
.default {
}
.l {
  font-size: 1.6rem;
  font-weight: 800;
}
